@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Sriracha&display=swap');

.my-web {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #E2F0CB;
    font-family: 'Sriracha', cursive;
}


.my-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.my-logo {
    width: 150px;
    margin-right: 25px;
}

.my-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: white;
    background-color: #7EC4CF;
}

.my-btn {
    border: 1px dotted #FF9AA2;
    background-color: #FFB7B2;
    color: black;
    cursor: pointer;
    font-family: 'Sriracha', cursive;
    font-size: 18px;
    max-width: 280px;
    margin-top: 30px;
    padding: 25px;
    border-radius: 6px;
}

.my-btn:hover {
    background-color: #C7CEEA;
    border-color: #b3b8cc;
    transition: all ease-in 1s;
}

.my-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

.secret-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1;
}

.secret-modal__content {
    padding: 20px;
    min-height: 50%;
    width: 80%;
    z-index: 0;
    font-size: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    word-break: break-word;
}

.secret-modal__close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.secret-modal__close:hover,
.secret-modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.neon-decoration {
    color: #fff;
    text-transform: uppercase;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
}
























* {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}