.decoration {
    background-color: var(--c-white);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    top: 0;
    left: 0;
    z-index: -1;
}


.moon {
    width:90px;
    height:90px;
    border-radius:50%;
    box-shadow:inset 16px 0px #C58BF1, inset 16px 0px 1px 2px #C58BF1;
    animation: moon ease-in 2s infinite;
    position: absolute;
    right: 55px;
    bottom: 30px;
 }


// https://codepen.io/claudiosc8/pen/QqpoOm




.star {

  width: 20px;
  height: 20px;
  background-color: var(--c-primary-dark);
  display: block;
  border-radius: 50%;
  float: left;
  position: absolute;
  transform-origin: 50% 50%;
  animation-name: star3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-out;
}

.star:before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: var(--c-primary-dark);
  position: absolute;
  transform: scale(1, 2) rotate(45deg);
  animation-name: star1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

.star:after {
  width: 20px;
  height: 20px;
  content: "";
  background-color: var(--c-primary-dark);
  position: absolute;
  transform: scale(2, 1) rotate(45deg);
  animation-name: star2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

.star1 {
  top: 15%;
  right: 5%;
}

.star2 {
  top: 7%;
  right: 36%;
  
  background-color: var(--c-secondary-light);
  &:before, &:after {
    background-color: var(--c-secondary-light);
  }
}

.star3 {
  left: 45%;
  bottom: 6%;
  animation-name: star3;
}

.star4 {
  top: 17%;
  left: 5%;
}

.star5 {
  bottom: 20%;
  left: 9%;
  background-color: var(--c-secondary-light);
  &:before, &:after {
    background-color: var(--c-secondary-light);
  }
}

@keyframes star1 {
  0% {
    transform: scale(1, 2) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(1, 2) rotate(45deg);
  }
}

@keyframes star2 {
  0% {
    transform: scale(2, 1) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(2, 1) rotate(45deg);
  }
}

@keyframes star3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
