body {
    font-family: var(--f-primary);
    color: var(--f-secondary);
}

a {
    color: inherit;
    text-decoration: none;
}

.web {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #FFC3DE;
}

.content {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.full-width {
    width: 100%;
    padding: 60px 0;
    border: 2px solid var(--c-secondary);
    border-width: 2px 0;
    position: relative;
}