.decoration {
    position: absolute;
}

.decoration1 {
    top: 2%;
    left: 2%;
}

.moon {
    width:50px;
    height:50px;
    border-radius:50%;
    box-shadow:inset 16px 0px #C58BF1, inset 16px 0px 1px 2px #C58BF1;
    animation: moon ease-in 2s infinite;
 }

//  .star {
//     position: relative;
    
//     display: inline-block;
//     width: 0;
//     height: 0;
    
//     margin-left: .9em;
//     margin-right: .9em;
//     margin-bottom: 1.2em;
    
//     border-right:  .3em solid transparent;
//     border-bottom: .7em  solid #FC0;
//     border-left:   .3em solid transparent;
  
//     font-size: 24px;
    
//     &:before, &:after {
//       content: '';
      
//       display: block;
//       width: 0;
//       height: 0;
      
//       position: absolute;
//       top: .6em;
//       left: -1em;
    
//       border-right:  1em solid transparent;
//       border-bottom: .7em  solid #FC0;
//       border-left:   1em solid transparent;
    
//       transform: rotate(-35deg);
//     }
    
//     &:after {  
//       transform: rotate(35deg);
//     }
//   }


// https://codepen.io/claudiosc8/pen/QqpoOm


.star {

  width: 20px;
  height: 20px;
  background-color: white;
  display: block;
  border-radius: 50%;
  float: left;
  position: absolute;
  transform-origin: 50% 50%;
  animation-name: star3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-out;
}

.star:before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: white;
  position: absolute;
  transform: scale(1, 2) rotate(45deg);
  animation-name: star1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

.star:after {
  width: 20px;
  height: 20px;
  content: "";
  background-color: white;
  position: absolute;
  transform: scale(2, 1) rotate(45deg);
  animation-name: star2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

@keyframes star1 {
  0% {
    transform: scale(1, 2) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(1, 2) rotate(45deg);
  }
}

@keyframes star2 {
  0% {
    transform: scale(2, 1) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(2, 1) rotate(45deg);
  }
}

@keyframes star3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
