.header {
    background-color: var(--c-white);
    border-bottom: 3px solid var(--c-secondary);
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &__title {
        display: flex;
    }

}

.main-menu {
    list-style: none;
    display: flex;

    &__item {
        padding: 0 20px;
    }
}

.logo {
    width: 50px;
    margin: 0 20px;
    color: var(--c-secondary);
}